body {
  background-color: #42445A;
  text-align: center;
  margin: auto;
  user-zoom: none;
}

#heading {
  font-size: 20px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  color: white;
}

#inputT {
  width: 150px;
  border-radius: 5px;
  background-color: white;
  padding: 3px 3px;
  font-size: 10px;
  color: grey;
}

legend {
  color: white;
}

#outputTS, #outputTB {
  color: grey;
  background-color: white;
  text-align: center;
  width: 200px;
  height: 20px;
  border-radius: 5px;
}
